:root{
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

html, body{
  font-size: 15px;
  padding: 0;
  margin:0;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  background-color: var(--Very-dark-blue);
}

.block{
  max-width: 69rem;
  /* max-height: 20rem; */
  background-color: var(--Dark-desaturated-blue);
  display: flex;
  border-radius: 10px;
}

.block-1{
  border-radius: 10px;
  max-width: 25rem;
  padding: 2rem 5rem 4rem 4rem;
}

.block-2{
  border-radius: 0 10px 10px 0;
  max-width: 35rem;
  background-color: var(--Soft-violet);
  overflow: hidden;
}


.imagem{
  object-fit: contain;
  height: 100%;
  width: auto;
  opacity: 0.4;
  /* overflow: hidden; */
}

.title{
  font-size: 34px;
  font-weight: bold;
}

.title span{
  color: var(--Soft-violet);
}

.subtitle{
  color: var(--Slightly-transparent-white1);
  line-height: 25px;
}

.stats{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  font-size: 24px;
  font-weight: bold;
}

.stats-block{
  width: 7rem;
  margin: 0;
}

.stats-block p{
  margin: 0.5rem;
}


.description{
  margin-top: 0.5rem;
  color: var(--Slightly-transparent-white1);
  font-size: 12px;
  letter-spacing: 2px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
  .imagem-mobile{
    display: none;
  }
}

@media (max-width: 576px) {

  .imagem-desktop{
    display: none;
  }

  .imagem-mobile{
    display: inline;
  }

  .block{
    flex-direction: column-reverse;
    max-width: 28rem;
  }

  .block-1{
    max-width: 100%;
    padding: 2rem 5rem 4rem 4rem;
    text-align: center;
  }

  .block-2{
    border-radius: 10px 10px 0 0;
    height: 20rem;
    width: 100%;
  }

  .imagem{
    height: 110%;
  }

  .stats{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .stats span{
    width: 7rem;
  }

}
